<div class="container">

    <div class="card firstcard">
        <div class="text-firstcorner">
            Patient
        </div>

        <div class="text-secondcorner">
            <img src="assets/img/account.png" alt="not found" />
        </div>
    </div>

    <div class="card secondcard">
        <div class="text-firstcorner">
            Medication
        </div>

        <div class="text-secondcorner">
            <img src="assets/img/pill.png" alt="not found" />
        </div>
    </div>

    <div class="card thirdcard">
        <div class="text-firstcorner">
            Conversation
        </div>

        <div class="text-secondcorner">
            <img src="assets/img/chat.png" alt="not found" />
        </div>
    </div>

    <div class="search">
        <input class="input-search" type="text" placeholder="Search a pacient or a medication..">

    </div>
    <!-- <div class="search-button">
        <img class="img-search" src="assets/img/search.png" alt="not found" />
    </div> -->


</div>